
@font-face {
  font-family: Cairo;
  src: url('../fonts/Cairo/Cairo-Regular.ttf');
}

body, .vs-button {
  font-family: Cairo !important;
}

.vs-notifications p {
  padding: 5px 70px;
  text-align: center;
}
.vs-notifications h3 {
  text-align: center;
}