
@font-face {
  font-family: Cairo;
  src: url('../fonts/Cairo/Cairo-Regular.ttf');
}

body, .vs-button, .vs-input {
  font-family: Cairo !important;
}

.vs-notifications p {
  padding: 5px 70px;
  text-align: center;
}
.vs-notifications h3 {
  text-align: center;
}

[dir] .vs-table--search {
  position: relative;
  top: 10px;
}
[dir] #usersTable .vs-table--search {
  right: 12.5rem;
}

[dir]  #servicesTable .vs-table--search  {
  right: 11.5rem;
}

[dir]  #booksTable .vs-table--search  {
  right: 10.5rem;
}


[dir] .vx-navbar-wrapper {
  background: unset !important;
}

[dir] .navbar-floating .vx-navbar {
  position: fixed;
  top: 0;
  left: 0px;
}

.el-scrollbar__view {
  padding: 0 15px;
}

.vs-con-table .vs-con-tbody .vs-table--tbody-table .vs-table--thead th {
	background: rgb(17, 17, 51);
	color: #fff;
}
.cursor {
	cursor: pointer;
}
.editIcon:hover {
	color: green;
}
.deleteIcon:hover {
	color: red;
}

.fc-button .fc-icon {
  transform: rotateY(180deg);
}
[dir="rtl"] .fc-rtl {
  text-align: center;
}
[dir="rtl"] .fc-view-container {
  direction: ltr !important;
}
[dir="rtl"] .fc-time-grid-container {
  overflow: visible !important;
  height: unset !important;
}
[dir="rtl"] .fc-time-grid .fc-slats td {
  direction: rtl !important;
}

