@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo/Cairo-Regular.ttf");
}

body,
.vs-button,
.vs-input {
  font-family: Cairo !important;
}

.vs-notifications p {
  padding: 5px 70px;
  text-align: center;
}
.vs-notifications h3 {
  text-align: center;
}

[dir] .vs-table--search {
  position: relative;
  top: 10px;
}
[dir] #usersTable .vs-table--search {
  right: 12.5rem;
}

[dir] #servicesTable .vs-table--search {
  right: 11.5rem;
}

[dir] #booksTable .vs-table--search {
  right: 10.5rem;
}

[dir] .vx-navbar-wrapper {
  background: unset !important;
}

[dir] .navbar-floating .vx-navbar {
  position: fixed;
  top: 0;
  left: 0px;
}

.el-scrollbar__view {
  padding: 0 15px;
}

.vs-con-table .vs-con-tbody .vs-table--tbody-table .vs-table--thead th {
  background: rgb(17, 17, 51);
  color: #fff;
}
.cursor {
  cursor: pointer;
}
.editIcon:hover {
  color: green;
}
.deleteIcon:hover {
  color: red;
}

.fc-button .fc-icon {
  transform: rotateY(180deg);
}
[dir="rtl"] .fc-rtl {
  text-align: center;
}
[dir="rtl"] .fc-view-container {
  direction: ltr !important;
}
[dir="rtl"] .fc-time-grid-container {
  overflow: visible !important;
  height: unset !important;
}
[dir="rtl"] .fc-time-grid .fc-slats td {
  direction: rtl !important;
}

#appointmentPage .appointment-header {
  margin-top: -60px;
  width: 100%;
  height: 250px;
  background-image: url("/booking/header.png");
  background-repeat: no-repeat;
  background-position: center;
}
#appointmentPage .appointment-header2 {
  width: 75%;
  background: #fff;
  color: #c09300;
  position: relative;
  bottom: 100px;
  padding: 1.8rem 6rem;
  margin: 0 13%;
  border-radius: 10px;
}

[dir="rtl"] #appointmentPage .appointment-header2 .right-block {
  float: right;
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}

[dir="rtl"] #appointmentPage .menu {
  position: relative;
  float: right;
  bottom: 100px;
  right: 12.5%;
}
[dir="rtl"] #appointmentPage .menu .menu-btn {
  display: inline-block;
  width: 5.8rem;
  height: 40px;
  background: #fff;
  color: #aaaaaa;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin: 0 11.5px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
}
[dir="rtl"] #appointmentPage .menu .menu-btn.active,
[dir="rtl"] #appointmentPage .menu .menu-btn:hover {
  background: #c09300;
  color: #fff;
  font-weight: bold;
}

.appointmentForm {
  display: block;
  width: 75%;
  margin: 50px 13%;
  height: 460px;
  background: #fff;
}
.appointmentForm h6 {
  width: 260px;
  position: relative;
  left: 35%;
  padding-top: 30px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.custom-input-appointment {
  color: #c09300 !important;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  height: 40px;
}
.custom-btn:hover {
  background-color: #c09300 !important;
  border: 1px solid #c09300;
}

.custom-span-appointment {
  float: left;
  padding-bottom: 5px;
  color: #707070;
  padding-left: 15px;
}

::placeholder {
  color: #ccc !important;
  font-weight: normal !important;
  font-size: 12px !important;
}

[dir=rtl] .el-input--suffix .el-input__inner {
  height: 40px !important;
  max-height: 40px !important;
}
.el-select__tags {
  visibility: hidden;
}

.selected-items {
  width: 50%;
  margin: 0 22%;
  height: auto;
  border: 1px solid #ccc;
  padding: 15px 12px;
  margin-top: 15px;
  border-radius: 5px;
}

[dir=rtl] .selected-item {
  float: right;
  display: inline-block;
  margin: 5px;
  padding: 8px 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  color: #c09300 !important;
}

.custom-btn {
  width: 300px;
  margin: 15px auto;
  background: #c09300;
  border: 1px solid #c09300;
}